@import "./SingleReservationRender.css";
@import "./NavBar.css";
@import "./ReservationForm.css";
@import "./Confirmation.css";
@import "./LoginForm.css";
@import "./RegisterForm.css";





html {
  height: 100%;
}
body {
  height: 100% ;
  background-color:#eee2dc;
  font-family: -apple-system, Amaranth, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.preload-title{
  display: flex;
  justify-content: center;
  margin-top: 18em;
  font-size: 1.1em;
}

.preloading-title-submitting{
  display: flex;
  justify-content: center;
  margin-top: 10em;
  font-size: 1.1em;
}

.mainContainer{
  margin-bottom: 4em;
}
