.btn.btn-link{
 width: 100%;
 text-decoration: none;
 color: white;
 font-size: 25px;
}

.driver-card{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #123c69;
  margin-top: 2em; 
}



#driver-route{
  font-size: initial
  !important
}


.textPreFix{
  text-decoration: underline;
  font-weight: bold;
}
