.register-form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 2em;
}
.register{
  display: flex;
  justify-content: center;
}

.warning {
  font-size: 14px;
  color: #ac3b61;
  margin-top: 1px;
}
