.btn.btn-link{
 width: 100%;
 text-decoration: none;
 color: white;
 font-size: 25px;
}

.accordion{
  margin-top: 5px;
}

.container-for-order{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge{
  color: #ac3b61;
  background-color: white;
}

.accordion .card:last-of-type{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #123c69
}


#phone-link{
  text-decoration: none;
  color: black;
}

.departDate{
  font-size: large;
}

.textPreFix{
  text-decoration: underline;
  font-weight: bold;
}

.delete-button{
  background-color: #ac3b61;
  display: flex;
  justify-content: center;

}

.btn.btn-link.delete{
  width: 5em;
}